* {
  margin: 0;
  padding: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 auto;
  background-color: #f5f5f5;
}

.mainSection {
  padding: 0 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainSection h1 {
  margin: 20px auto;
  font-size: 100px;
  color: rgba(175, 47, 47, 0.15);
}

.todoInput {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.todoInput input[type="text"] {
  width: 100%;
  height: auto;
  font-size: 1.6em;
  padding: 20px 16px 20px 60px;
  border: 2px solid transparent;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.03);
  -webkit-font-smoothing: antialiased;
}

.btnAllCompl {
  height: 0;
}

.allCompl {
  height: 1px;
  width: 1px;
  border: none;
  opacity: 0;
}

.allComplLabel {
  position: absolute;
  left: 0.5%;
  top: 6%;
  display: flex;
  width: 45px;
  height: 65px;
  align-items: center;
  justify-content: center;
  font-size: 0;
  cursor: pointer;
}

.allComplLabel::before {
  content: "❯";
  display: inline-block;
  padding: 10px 27px;
  color: #949494;
  font-size: 22px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.allComplLabel.black::before {
  color: black;
}

.labelChecked {
  color: #949494;
  text-decoration: line-through;
}

.todoInput input[type="text"]:focus {
  border: 2px solid rgba(175, 47, 47, 0.15);
}

input::placeholder {
  font-style: italic;
  color: #e8e6e6;
}

input:focus,
input:hover,
input:active {
  outline: none;
}

.hiddenBlock {
  display: none;
  max-width: 600px;
  width: 100%;
}

.listItem {
  display: flex;
  padding: 20px 20px 20px 16px;
  width: 100%;
  height: 100%;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ededed;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.listItem:hover .deleteBtn {
  visibility: visible;
}

.deleteBtn:hover {
  color: #c18585;
}

.leftItem {
  display: flex;
  width: 100%;
  gap: 30px;
}

.leftItem label {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  transition: color 0.4s;
  word-break: break-all;
}

.hiddenInput {
  position: absolute;
  top: 0%;
  right: 0;
  display: none;
  padding: 25px;
  border: 2px solid rgba(175, 47, 47, 0.15);
}

.deleteBtn {
  width: 30px;
  height: 30px;
  margin: auto 0;
  color: #949494;
  font-size: 30px;
  transition: color 0.2s ease-out;
  visibility: hidden;
}

.deleteBtn::after {
  content: "×";
  display: block;
  height: 100%;
  line-height: 1.1;
}

.mainList {
  border-top: 1px solid #e6e6e6;
}

.clearBtn {
  background-color: transparent;
  border: none;
}

.footerList {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 20px 15px 16px;
  gap: 20%;
  align-items: center;
  color: #777;
  background-color: white;
}

.footerList:before {
  z-index: -1;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.ulList {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  list-style: none;
}

.footerBtn {
  padding: 4px;
  color: #777;
  border: 1px solid transparent;
  cursor: pointer;
}

.footerBtn:hover, .tabActive  {
  border: 1px solid #c18585;
  border-radius: 4px;
}

.clearCompl {
  display: none;
  color: #777;
  text-decoration: none;
  cursor: pointer;
}

.clearCompl:hover {
  text-decoration: underline;
}

.active {
  display: block;
}

.activeFlex{
  display: flex;
}

@media (max-width: 700px) {
  .footerList {
    gap: 12%;
    align-items: center;
    justify-content: center;
  }

  .footerList label,
  .footerList ul li,
  .footerList button {
    font-size: 12px;
  }

  .footerList ul {
    gap: 5px;
  }
}

@media (max-width: 500px) {
  .todoInput input[type="text"] {
    font-size: 1em;
  }

  h1 {
    font-size: 50px;
  }

  .footerList {
    gap: 5%;
  }

  .footerList label,
  .footerList ul li,
  .footerList button,
  .footerList label span {
    font-size: 12px;
  }

  .leftItem label {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .footerList label,
  .footerList ul li,
  .footerList button,
  .footerList label span {
    font-size: 9px;
  }
}
